* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .header-container {
    margin: 5px 20px;
    width: calc(100vw - 40px);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
  }
  
  .link-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    gap: 2px;
  }
  
  .list-item {
    background-color: white;
    padding: 10px 30px;
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 200ms;
  }
  
  .date {
    font-style: italic;
    margin-right: 20px;
    text-align: end;
  }
  
  .divisor {
    height: 2px;
    width: 200px;
    background-color: black;
  }
  
  .books-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid black;
    display: none;
  }
  
  .section-container {
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .form-container {
    width: 300px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    display: none;
  }
  
  .form-text {
    width: 100%;
    text-align: center;
  }
  
  .input-control {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
  }
  
  .add-button {
    border: 2px solid rgb(111, 163, 62);
    color: rgb(111, 163, 62);
    background-color: transparent;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    width: fit-content;
  }
  
  .remove-btn {
    border: 2px solid rgb(214, 59, 59);
    color: rgb(214, 59, 59);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: auto;
    background-color: transparent;
  }
  
  .add-button:hover {
    background-color: rgb(111, 163, 62);
    color: white;
  }
  
  .remove-btn:hover {
    background-color: rgb(214, 59, 59);
    color: white;
  }
  
  .books-placeholder {
    width: 100%;
    color: rgb(85, 85, 85);
    font-weight: 500;
    padding: 10px 30px;
  }
  
  .book-card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
  }
  
  .book-title {
    font-weight: 400;
    font-style: italic;
  }
  
  .book-author {
    color: rgb(85, 85, 85);
    font-style: italic;
    align-self: last baseline;
  }
  
  .row-even {
    background-color: rgb(211, 211, 211);
  }
  
  .contact-section {
    flex-direction: column;
    gap: 6px;
    display: none;
  }
  
  .contact-text {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
  }
  
  .list-text {
    margin-left: 30px;
    line-height: 20px;
  }
  
  .show {
    display: flex;
  }
  
  .active {
    color: rgb(221, 120, 38);
  }
  
  .footer-container {
    margin: auto 20px 5px 20px;
    width: calc(100vw - 40px);
    padding: 15px 50px;
    border: 3px solid black;
  }
  
  .copyright {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .footer-link {
    text-decoration: none;
    color: blue;
  }